# Import Data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving botak_not_clean.csv to botak_not_clean.csv

In [ ]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['botak_not_clean.csv']))

In [ ]:
df.head()

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,stress,botak_prob
0,27.0,Perempuan,PNS,Bengkulu,7.957453e+06,1.0,0.0,54.315053,170.428542,Pantone,1.0,S1,5.0,0.605974
1,53.0,Perempuan,PNS,Bandung,7.633003e+06,1.0,0.0,72.873404,165.530097,Pantone,0.0,S1,7.0,0.532860
2,37.0,Perempuan,Pegawai swasta,Bandung,6.637625e+06,1.0,0.0,46.321533,154.599388,Moonsilk,0.0,S1,4.0,0.418442
3,36.0,Perempuan,Pengangguran,Palu,3.624871e+06,1.0,0.0,51.539781,167.340481,Deadbuoy,1.0,SD,9.0,0.804050
4,38.0,Laki-laki,Freelance,Palangkaraya,6.031808e+06,1.0,0.0,60.726909,165.514773,Merpati,1.0,S2,1.0,0.368371

In [ ]:
categorical = ['jenis_kelamin', 'pekerjaan', 'sampo', 'pendidikan', 'provinsi']
numerical = ['umur', 'gaji', 'is_menikah', 'is_keturunan', 'berat', 'tinggi', 'is_merokok', 'stress', 'botak_prob']

# Missing Value

In [ ]:
df.isna().sum()

umur              85
jenis_kelamin     77
pekerjaan        157
provinsi          86
gaji              74
is_menikah        72
is_keturunan      89
berat             56
tinggi            74
sampo             59
is_merokok        70
pendidikan        70
stress            64
botak_prob        79
dtype: int64

In [ ]:
import numpy as np

In [ ]:
df['is_menikah'] = df.apply(lambda x: x['umur'] > 30 if np.isnan(x['is_menikah']) else x['is_menikah'], axis=1)
df['is_keturunan'].fillna(0, inplace=True)
df['is_merokok'].fillna(1, inplace=True)

df['umur'].fillna(df['umur'].mean(), inplace=True)
df['gaji'].fillna(df['gaji'].mean(), inplace=True)
df['tinggi'].fillna(df['berat'].mean(), inplace=True)
df['berat'].fillna(df['tinggi'].mean(), inplace=True)
df['stress'].fillna(df['stress'].mean(), inplace=True)

In [ ]:
df['jenis_kelamin'].fillna(df['jenis_kelamin'].mode()[0], inplace=True)
df['provinsi'].fillna(df['provinsi'].mode()[0], inplace=True)
df['sampo'].fillna(df['sampo'].mode()[0], inplace=True)
df['pendidikan'].fillna(df['pendidikan'].mode()[0], inplace=True)
df['pekerjaan'].fillna(df['pekerjaan'].mode()[0], inplace=True)

In [ ]:
df.isna().sum()

umur              0
jenis_kelamin     0
pekerjaan         0
provinsi          0
gaji              0
is_menikah        0
is_keturunan      0
berat             0
tinggi            0
sampo             0
is_merokok        0
pendidikan        0
stress            0
botak_prob       79
dtype: int64

In [ ]:
df_deleted_null = df.dropna ( )

In [ ]:
df_deleted_null.isnull ( ).sum ( )

umur             0
jenis_kelamin    0
pekerjaan        0
provinsi         0
gaji             0
is_menikah       0
is_keturunan     0
berat            0
tinggi           0
sampo            0
is_merokok       0
pendidikan       0
stress           0
botak_prob       0
dtype: int64

# Duplicated Data

In [ ]:
df.duplicated(subset=['umur','sampo', 'berat']).sum()

91

In [ ]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

82
0

# Standardization and Normalization

In [ ]:
df.describe()

              umur          gaji  ...       stress   botak_prob
count  7835.000000  7.835000e+03  ...  7835.000000  7757.000000
mean     39.490093  8.842114e+06  ...     5.450951     0.573762
std       9.831701  4.463919e+06  ...     2.851486     0.173528
min       2.000000  1.500000e+06  ...     1.000000     0.064633
25%      33.000000  5.752457e+06  ...     3.000000     0.451812
50%      39.492722  7.886191e+06  ...     5.000000     0.567963
75%      46.000000  1.077803e+07  ...     8.000000     0.686788
max      77.000000  5.000000e+07  ...    10.000000     1.000000

[8 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
df['berat_norm'] = MinMaxScaler().fit_transform(df['berat'].values.reshape(len(df), 1))
df['tinggi_norm'] = MinMaxScaler().fit_transform(df['tinggi'].values.reshape(len(df), 1))
df['umur_std'] = StandardScaler().fit_transform(df['umur'].values.reshape(len(df), 1))
df['gaji_std'] = StandardScaler().fit_transform(df['gaji'].values.reshape(len(df), 1))

In [ ]:
df.describe()

              umur          gaji  ...      umur_std      gaji_std
count  7835.000000  7.835000e+03  ...  7.835000e+03  7.835000e+03
mean     39.490093  8.842114e+06  ... -2.641792e-16  1.114899e-16
std       9.831701  4.463919e+06  ...  1.000064e+00  1.000064e+00
min       2.000000  1.500000e+06  ... -3.813428e+00 -1.644874e+00
25%      33.000000  5.752457e+06  ... -6.601612e-01 -6.921844e-01
50%      39.492722  7.886191e+06  ...  2.673988e-04 -2.141581e-01
75%      46.000000  1.077803e+07  ...  6.621766e-01  4.337075e-01
max      77.000000  5.000000e+07  ...  3.815444e+00  9.220713e+00

[8 rows x 12 columns]

# Outliers

## Z-score

In [ ]:
from scipy import stats

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))
for col in ['umur', 'tinggi', 'berat', 'stress']:
    zscore = abs(stats.zscore(df[col]))
    filtered_entries = (zscore < 3) & filtered_entries
    
df = df[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 0

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:2416: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis, keepdims=True)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:234: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:195: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:224: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)

TypeError: ignored

## IQR

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))
for col in ['gaji', 'umur']:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    low_limit = Q1 - (IQR * 1.5)
    high_limit = Q3 + (IQR * 1.5)

    filtered_entries = ((df[col] >= low_limit) & (df[col] <= high_limit)) & filtered_entries
    
df = df[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 7917
Jumlah baris setelah memfilter outlier: 7409

# Feature Encoding

In [ ]:
for cat in categorical:
    onehots = pd.get_dummies(df[cat], prefix=cat)
    df = df.join(onehots)

In [ ]:
df.sample(5)

      umur jenis_kelamin  ... provinsi_Tanjungselor provinsi_Yogyakarta
6368  50.0     Perempuan  ...                     0                   0
6808  43.0     Laki-laki  ...                     0                   0
5963  34.0     Laki-laki  ...                     0                   0
7818  44.0     Perempuan  ...                     0                   0
1119  44.0     Perempuan  ...                     0                   0

[5 rows x 65 columns]