# Modul 2 : Pandas for Data Cleansing

in this module, we will work with pandas to do data Analysis and data Cleansing

---

to install pandas (if not yet installed)
```python
pip install pandas
```
Then usuallly when we import pandas, we rename it to **pd** to make is shorter

```python
import pandas as pd
```

After importing pandas, now we are ready to work with DataFrame

## Create DataFrame from dictionary

```python
# Create dictionary of students
students = {
    'first_name':['Muhammad', 'Anton', 'Budi', 'Tantri'],
    'last_name':['Cecep', 'Doraemon', 'Bohim', 'Nunung'],
    'daily_test':[90,0,75,40],
    'semester_test':[60,68,82,90]
}
# To Create dataframe from dictionary, we use
data_students = pd.DataFrame(students)
```

In [ ]:
# Import pandas here

In [ ]:
# check data_students data type here

## Add new rows to datafame

Same with list, to add new rows, we use `.append()` method

```python
df.append({
    'first_name','Mamang',
    'last_name':'Prasetyo',
    'daily_test':80
    'semester_test':95
    })

## Check DataFrame Characteristics

```python
# To check dataframe size (rows, columns)
df.shape

# Only rows
len(df)

# Check DataType each column
df.info()

# Get column names
df.columns
```

## Indexing Dataframe
### Selecting Columns
From the dataframe, to select only one column, you can use `dataframe['column_name']`

**Exercise :**

From dataframe **students** select only column _first_name_ ,save it as `variable` **student_first_name**

**What is Datatype of _student_first_name_ ?**

**What is the difference of `dataframe['column_name']` and `dataframe[['column_name']]` ?**

**What if we want to select multiple column ?**

**Exercise :**

From dataframe, select column _last_name_ and _semester_test_ !

### Selecting Rows
To select rows from dataframe, we can use list indexing `dataframe[row_number:row_number_after]`

Using this scenario, we can also select multiple row by using `dataframe[start_row:end_row]`

_Example :_
```
# Select first 2 row
dataframe[:2]

# Select first 3 row
dataframe[-3:]
```
**Exercise :**

From dataframe **class_score** select row number 2 !

### Getting value from Column and row
From previous lesson in basic python, we already learn multiple indices. For example in nested list below :
```
my_list = [4, 3, ['a', 'c']]
```
Extracting value **'a'** from `my_list` above we use `my_list[2][0]`.

Similar to Dataframe, we can also slicing dataframe using same method.

**Note :**

Remember, Dataframe formed from **dictionary**, to get value from _dictionary_ we use **`'key'`** value instead of _integer index value_.
Same with selecting column.

In this case we use :
```
dataframe['column_name'][row_number]
```

**Exercise :**

From dataframe, Get `daily_test` of `Cecep` !

## Filter Condition
### Find Value
To Filter using condition we can use `dataframe['column'] conditional_clause value`

Conditional clause can be :
```
==
>
>=
<
<=
!=
```
Let's say from dataframe **class_score**, we want to know **How many student achieve `score` equal or More than 80**, we can use `dataframe['score'] >= 80`

**Practice here :**

### Multiple Condition
**Exercise :**

From dataframe **class_score**, we want to know **Student that achieve `daily_test` less than 90 BUT, having semester_test more than 80**

#### Exercise
**Filter only Anton and Budi**

_hint :_ using (filter 1) | (filter 2)

#### Using is in list

**Filter only Anton, Tantri and Budi**

_hint :_ create list filter, then data[column].isin(filter)

## Add new column to dataframe

using `df['new_column'] = [new_data1, new_data2, new_data3]`

Add new column of `attendance` = all 100 except Cecep which only 70, and Mamang only 65

## Sorting Data
Gunakan `.sort_values()`

sample:

```
df.sort_values('name', ascending=False)
```

### Exercise
create new variable dataframe `remedial` which only have student which semester_test below 85, sort based on daily test lower to higher


**Save filtered Data above to csv**

using function `.to_csv()` with index=False

```python
df.to_csv('namafile_export.csv', index=False)
```

Compare with `.to_csv()` without index = False

Save to excel format with `.to_excel('namafile.xlsx')`

## Load data from files

to read file from csv
```
dataframe = pd.read_csv('path/to/file.csv')
```

---

download `data_pokemon.csv` from classroom,

upload the files to colab, or place in the same folder (if jupyter)


**To do:**

read **pokemon.csv**

## Show Part of the data

Showing full of the data may causing the screen is not good looking and heavier, since the data may having very long row.

To show only begining of data, you can use `.head()` and `.tail()` for only showing last row of data

Did you notice, how many rows are showed using those function ?
How if you want to see some certain first rows of the data ?

**Practice :**
*Show first 4 value of the data !*

Cek jumlah data dengan Print kalimat berikut:
```python
"Data kita memiliki : {} baris dan {} kolom"
```

**To Do**
Inspect Data type of pokemon dataframe

### Unique Value Inspection

to get unique values from column, we use `df['column'].unique()`

and to get number of unique value from column, we use `df['column'].nunique()`

**To Do:**

1. Show unique value of Pokemon Type 1
2. How many unique value Pokemon name

## Statistical Operation on DataFrame

### Get Descriptive Statistics of dataframe

```python
# To get Statistics from DataFrame
df.describe()
```

### Calculation on dataframe

```python
# to get sum total
df['column'].sum()

# to get maximum from column
df['column'].max()

# to get minimum from column
df['column'].min()

# to get average from column
df['column'].mean()
```


**Answer this question:**

1. What is Pokemon name that has Highest Attack
2. What Pokemon Type (Type 1) that has highest speed
3. How many Average Defense of pokemon which has type 1 = Dragon
4. How many Legendary Pokemon that can fly ? *(hint, type 2)*
5. Which one of pokemon type 1 that has highest average Attack Speed (Sp. Atk) ? Water of Fire pokemon ?

## Missing Value on the data

```python
# To check missing values/ null value from data
df.isna().sum()

# or same with
df.isnull().sum()
```

**To Do:**

What column from pokemon has missing data ?, total how many data that was missing ?

## Cleaning Missing Value from the data

### Dropping missing values
```python
# Use dropna to drop the missing values
df.dropna()
```
### Filling Missing Data with constant values
```python
# Use fillna to fill the missing values
fill_value = 0
df.fillna(fill_value)
```

### Filling with method
Fillna function has built in method to fill the missing value, like `{'backfill', 'bfill', 'pad', 'ffill'}`

**To Do:** check `fillna()` help function and discover what are thos method function

---

## Bonus Material

### Read Json Data
to read json to dataframe, use
```python
# download sample json_data_sample.json from google classroom
json_data = pd.read_json('json_data_sample.json')
```

### Read SQLite Data
Download data.db from Google Classroom

```python
# Pandas cannot directly read SQL, so we need to create connection using sqlite3 library
import sqlite3

conn = sqlite3.connect('data.db')
df = pd.read_sql('SELECT * FROM tweets', conn)
```